<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="Miki.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <style>
        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
        }

        .button1:hover {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark h4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
                <ul class="mix">
                    <li><a class="navbar-brand text-white text-center" href="./index.html">O NAMA</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-center dropdown-toggle text-white" data-toggle="dropdown" href="#"
                            role="button" aria-haspopup="true" aria-expanded="false">Galerija</a>
                        <div class="bg-dark dropdown-menu">
                            <a class="dropdown-item text-white" href="./Gradjevina.html">Gradjevina</a>
                            <a class="dropdown-item text-white" href="./plocice.html">Plocice</a>
                            <a class="dropdown-item text-white" href="./vodovod.html">Vodovod</a>
                            <!--<div class="dropdown-divider"></div>
                <a class="dropdown-item" href="./galery.html">Galerija</a>-->
                        </div>
                    </li>
                    <li><a class="nav-link text-white text-center" href="./Kontakt.html">Kontakt</a></li>
                </ul>
                <ul>
                    <li>
                        <h4 class="card-text nav-link form-inline text-center" style="color:white;">Zukic-997</h4>
                    </li>
                </ul>
                <ul>
                    <li>
                        <form class="form-d-flex mix " role="search">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success text-center my-2 my-sm-0"
                                type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--end of navbar-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="Images/gradjevina.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" text="bold">Slika 1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="Images/plocicerad.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="Images/zidneplocice2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <hr style="background-color:white">
         <!--footer-->
  <div class="card text-center Grid">
    <div class="card-header bg-dark">
    </div>
    <div class="card-body">
      <!--<p class="card-title"><b>Nesto za kraj</b></p>-->
      <!--<p class="card-text" style="color:red;">Made by: Miodrag Sokolovic.</p>-->
      <a href="mailto:https://mail.google.com/mail/u/0/#inbox" class="btn btn-dark">goran.zukic@yahoo.com</a>
    </div>
    <div class="card-footer text-muted bg-dark">
      <!-- Majstor za sve i svasta-->
    </div>
  </div>
</body>

</html>