.button {
    background-color: #4CAF50;

    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 10px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.menu {
    width: 250px;
    flex: left;
    justify-content: center;
}

.redno {
    flex-direction: row;
    justify-content: flex-start;
}

.main {
    width: 700px;
    flex: center;
    justify-items: center;
    text-align: center;
}

.last {
    width: 500px;
    flex: right;
    justify-items: center;
}

.p1 {
    font-family: "Times New Roman", Times, serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:500px) {
    .testiranje {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .logo {
        display: inline-block;
    }

    .mile {
        display: none;
    }

    .menu {
        width: 500px;
    }
}

@media (min-width:500px) {
    .logo {
        display: none;
    }

    .mile {
        display: inline-block;
    }
}

.mix {
    display: flex;
    align-content: space-between;
    position: relative;
}

.proba {
    display: "none";
}

.mine {
    margin: 2px;
}

.testiranje {
    justify-content: center;
}

.mypad {
    margin: 2px;
}

.texts {
    justify-items: center;
    text-align: center;
}

.txtcolor {
    color: white;
    background-color: black;
    text-align: center;
    justify-content: center;
}

.sirina {
    width: 500px;
    justify-items: center;
}

.galery {
    justify-content: center;
    border: 5px solid black;
}

@media (max-width:500px) {
    .galery {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        display: inline-block;
    }
}

.cols {
    color: white;
}

.positions {
    justify-content: center;
}